<div class="awd-home">
    <div class="awd-home__header">
        <h1 class="text-center">Angular 4 quickstarter</h1>
        <h4 class="text-center">product by <a href="https://github.com//RomanShprenger" target="_blank">Roman Shprenger</a></h4>
    </div>
    <div class="awd-home__content">
      <h3 class="text-left">Quickstarter include:</h3>
      <ul class="awd-home__list">
          <li class="awd-home__list-item awd-home__list-item--subtitle">Common</li>
          <li class="awd-home__list-item">Docker and Docker-compose version 2</li>
          <li class="awd-home__list-item awd-home__list-item--subtitle">Frontend</li>
          <li class="awd-home__list-item">Angular 4.0.1 (typescript)</li>
          <li class="awd-home__list-item">Typescript Lint</li>
          <li class="awd-home__list-item">Webpack 2.2.1 and Webpack-dev-server 2.3.0</li>
          <li class="awd-home__list-item">Stylus</li>
          <li class="awd-home__list-item">jQuery</li>
          <li class="awd-home__list-item">Autoprefixer</li>
      </ul>
    </div>
</div>
